In [1]:
import pandas as pd

In [2]:
with open('data/taylorswift.txt', 'r') as f:
    text = f.read()

In [3]:
from nanobpe.base import BaseTokenizer

tokenizer = BaseTokenizer()

tokenizer.train(text)

In [4]:
vocab = pd.DataFrame(tokenizer.ids_to_chars.values(), columns=['token'])

vocab.tail(50).sample(10)

                  token
1119                el
1117          ed Swift
1114           New York
1118                US
1110               cent
1103               open
1084  Caulfield, Keith
1079          No. 1 on
1106             erson
1121     Billboard 200

In [6]:
import random
def print_tokenized_line(ids,tokenizer):
    chars =[]
    for idx in ids:
        if isinstance(tokenizer.vocab[idx], tuple):
            chars.append(f'({tokenizer.ids_to_chars[idx]})')
        else:
            chars.append(tokenizer.ids_to_chars[idx])
    return ''.join(chars)
    

for line in random.sample(text.split('\n'), k=1):
    print(line)
    ids = tokenizer.encode(line)
    print(print_tokenized_line(ids,tokenizer))

 Murphy, Sam (November 10, 2021). "How 'Red' Became The Most Pivotal Record In Taylor Swift's Career". Junkee. Retrieved November 10, 2021.
( M)(ur)(ph)(y, )S(am)( (November )(10)(, 2021). ")(How )'(Re)d(' )B(ec)(ame )(The )(Mo)(st )P(iv)(ot)(al )(Record )(In )(Taylor Swift's )(Car)e(er)(". )(Ju)nk(ee)(. Retrieved November )(10)(, 2021).